/.vs
/Chess.Client/bin/Debug/net5.0
/Chess.Client/bin/Debug/netcoreapp2.2
/Chess.Client/bin/Debug/netcoreapp1.1
/Chess.Client/bin/Release/net5.0
/Chess.Client/obj
/Chess.Client/bin/x64/Debug/netcoreapp1.1
/Chess/bin/Debug/net5.0
/Chess/res
/Chess/obj
/ChessTests/bin/Debug/net5.0
/ChessTests/bin/Debug/net50
/ChessTests/bin/Release/net50
/ChessTests/obj
/Chess/bin/Release/net5.0
/Chess/bin/Debug/netcoreapp2.2
/ChessTests/bin/Debug/netcoreapp2.2
/Chess/bin/Debug/netcoreapp1.1
/Chess/bin/x64/Debug/netcoreapp1.1
/ChessTests/res
